<mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
        <a routerLink="/">
            <h2>
                Cinemas Do Lab
            </h2>
        </a>
        
        
    </div>
    <div class="example-spacer"></div>
    <div fxLayout="row" fxLayoutGap="10px">
        <div fxLayoutGap="10px">
            <a routerLink="/login"><button mat-raised-button color="basic" >Login</button></a>
            <a routerLink="/register"><button mat-raised-button color="basic">Register</button></a>
        </div>
    </div>
</mat-toolbar>

