<div class="py-3">
  <mat-card class="col-10 card offset-1">
    <mat-card-title class="row">
        <h1 class="col-8 offset">Register</h1>
    </mat-card-title>
    <mat-card-content>
      <form class="example-form row" method="post">
        <div class="fields col-12 py-2" fxLayoutGap="10px">
          <mat-form-field class="col-8" appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="pepito@gmail.com"
              type="email"
              [(ngModel)]="email"
              name="email"
              required="required"
            />
          </mat-form-field>
          <mat-form-field class="col-8" appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              [(ngModel)]="password"
              name="password"
              required="required"
              autocomplete="on"
            />
          </mat-form-field>
          <mat-form-field class="col-8" appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              type="password"
              [(ngModel)]="confirmPassword"
              name="confirm_password"
              required="required"
              autocomplete="on"
            />
          </mat-form-field>
        </div>

        <div class="row py-2 align-items-end">
          <a class="col-7 offset-5"
            ><button class="col-12" mat-raised-button type="submit" (click)="register()">
              Register
            </button></a
          >
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
