

<div class="container">
    <div class="row">
        <div class="col-12 pb-3">
            <a routerLink="/offers" class="col-12">
                <button mat-raised-button color="basic" class="col-12">
                        
                        <h5 class="pt-2">Deals <mat-icon class="icon-display">whatshot</mat-icon></h5>
                </button>
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 d-flex align-items-stretch" *ngFor="let movie of movies; let i = index">
            <div class="card shadow">
                <img src="{{movie.urlImage}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">{{movie.title}} ({{movie.date | date:"yyyy"}})</h2>
                    <p class="card-text link10" >
                        {{more[i]?movie.description: movie.description + " ..." | slice:0:100}}
                        
                        <a (click)="more[i]=!more[i]" class="col-12">
                        {{more[i]?'Read Less':'Read more'}}
                        </a>
                    </p>

                    
                </div>
                <div class="card-content p-2 offset-10 offset-md-9" *ngIf="!isAdmin">
                    <button mat-mini-fab color="primary" matTooltip="Play">
                        <mat-icon>play_circle_filled</mat-icon>
                    </button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
